@Scripts.Render("~/bundles/testApp")

<div data-ng-app="APIModule">
    <div id="tblShops" ng-controller="APIController">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Shop Name</th>
                    <th>Shop Schedule</th>
                    <th>Products</th>
                </tr>
            </thead>
            <tbody data-ng-repeat="shop in shops">
                <tr>
                    <td>{{shop.Id}}</td>
                    <td>{{shop.ShopName}}</td>
                    <td>{{shop.Schedule}}</td>
                    <td>
                        <button type="button" class="btn btn-info btn-sm" ng-click="getProducts(shop.Id)">Get products list</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Products list</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-table">
                Loading...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>