<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="RemoveAll"></connectionStrings>
  <connectionStrings xdt:Transform="Insert">
   <!--Connection to release database
   <add name="ShopDB_Release"
         connectionString="Data source=111.111.111.111; Initial catalog=shopDataBase_Release.mdf; User ID=sa; Password=avavava"
         providerName="System.Data.SqlClient" />
  -->
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
