<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="RemoveAll"></connectionStrings>
  <connectionStrings xdt:Transform="Insert">
    <add name="ShopDB"
         connectionString="Data source=(localdb)\MSSQLLocalDB; Initial catalog=shopDataBase.mdf; Integrated security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
